<footer>
  <!-- <img class="position-absolute" src="../../../assets/images/statistic.jpg" alt="footer-background"> -->
  <div class="container position-relative">


    <!-- FOOTER CONTENT -->
    <div class="row">


      <!-- FOOTER INFO -->
      <div class="col-md-6 col-lg-4">
        <div class="footer-info mb-40">

          <!-- Footer Logo -->
          <!-- For Retina Ready displays take a image with double the amount of pixels that your image will be displayed (e.g 360 x 80  pixels) -->
          <!-- <img src="../../../assets/logo2.png" width="30px" alt="footer-logo"> -->
          <strong>El-Wafaa</strong>

          <!-- Text -->
          <p class="p-sm mt-20">Aliquam orci nullam tempor sapien gravida donec an enim ipsum porta
            justo velna auctor congue magna laoreet augue sapien gravida at purus euismod
          </p>

          <!-- Social Icons -->
          <div class="footer-socials-links mt-20">
            <ul class="foo-socials text-center clearfix">

              <li><a href="#" class="ico-facebook"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="#" class="ico-twitter"><i class="fab fa-twitter"></i></a></li>
              <li><a href="#" class="ico-google-plus"><i class="fab fa-google-plus-g"></i></a></li>
              <li><a href="#" class="ico-tumblr"><i class="fab fa-tumblr"></i></a></li>

            </ul>
          </div>

        </div>
      </div>


      <!-- FOOTER CONTACTS -->
      <div class="col-md-6 col-lg-3 offset-lg-1">
        <div class="footer-box mb-40">

          <!-- Title -->
          <h2 class="fw-normal">Our Location</h2>

          <!-- Address -->
          <p>121 King Street, Melbourne,</p>
          <p>Victoria 3000 Australia</p>

          <!-- Email -->
          <p class="foo-email mt-20">E: <a href="mailto:yourdomain@mail.com">hello@yourdomain.com</a></p>

          <!-- Phone -->
          <p>P: +12 9 8765 4321</p>

        </div>
      </div>


      <!-- FOOTER LINKS -->
      <div class="col-md-6 col-lg-2">
        <div class="footer-links mb-40">

          <!-- Title -->
          <h2 class="fw-normal">About Clinic</h2>

          <!-- Footer Links -->
          <ul class="foo-links clearfix">
            <li><a href="#">About Clinic</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Press &amp; Media</a></li>
            <li><a href="#">Our Blog</a></li>
            <li><a href="#">Advertising</a></li>
          </ul>

        </div>
      </div>


      <!-- FOOTER LINKS -->
      <div class="col-md-6 col-lg-2">
        <div class="footer-links mb-40">

          <!-- Title -->
          <h2 class="fw-normal">Discover</h2>

          <!-- Footer List -->
          <ul class="clearfix">
            <li><a href="#">Help Center</a></li>
            <li><a href="#">Life Chatting</a></li>
            <li><a href="#">Terms &amp; Privacy</a></li>
            <li><a href="#">FAQs</a></li>
            <li><a href="#">Site Map</a></li>
          </ul>

        </div>
      </div>


    </div> <!-- END FOOTER CONTENT -->

    <!-- FOOTER COPYRIGHT -->
    <div class="border-top pt-4 text-center">
      <div class="row">
        <div class="col-md-12">
          <p class="footer-copyright">© 2019 <span>MedService</span>. All Rights Reserved</p>
        </div>
      </div>
    </div>


  </div> <!-- End container -->
</footer>