<div id="statistic-1" class="bg-scroll statistic-section division">
  <div class="container white-color">
    <div class="row">
      <!-- STATISTIC BLOCK #1 -->
      <div class="col-md-6 col-lg-3">
        <div
          class="statistic-block icon-lg wow fadeInUp"
          data-wow-delay="0.4s"
          style="
            visibility: visible;
            animation-delay: 0.4s;
            animation-name: fadeInUp;
          "
        >
          <!-- Icon  -->
          <div class="statistic-icon">
            <i class="fas fa-smile"></i>
          </div>

          <!-- Text -->
          <h5 class="statistic-number">
            9,<span class="count-element">632</span>
          </h5>

          <p class="txt-400">Happy Patients</p>
        </div>
      </div>

      <!-- STATISTIC BLOCK #2 -->
      <div class="col-md-6 col-lg-3">
        <div
          class="statistic-block icon-lg wow fadeInUp"
          data-wow-delay="0.6s"
          style="
            visibility: visible;
            animation-delay: 0.6s;
            animation-name: fadeInUp;
          "
        >
          <!-- Icon  -->
          <div class="statistic-icon">
            <i class="fas fa-user-doctor"></i>
          </div>

          <!-- Text -->
          <h5 class="statistic-number">
            <span class="count-element">178</span>
          </h5>
          <p class="txt-400">Qualified Doctors</p>
        </div>
      </div>

      <!-- STATISTIC BLOCK #3 -->
      <div class="col-md-6 col-lg-3">
        <div
          class="statistic-block icon-lg wow fadeInUp"
          data-wow-delay="0.8s"
          style="
            visibility: visible;
            animation-delay: 0.8s;
            animation-name: fadeInUp;
          "
        >
          <!-- Icon  -->
          <div class="statistic-icon">
            <i class="fas fa-restroom"></i>
          </div>

          <!-- Text -->
          <h5 class="statistic-number">
            <span class="count-element">864</span>
          </h5>
          <p class="txt-400">Clinic Rooms</p>
        </div>
      </div>

      <!-- STATISTIC BLOCK #4 -->
      <div class="col-md-6 col-lg-3">
        <div
          class="statistic-block icon-lg wow fadeInUp"
          data-wow-delay="1s"
          style="
            visibility: visible;
            animation-delay: 1s;
            animation-name: fadeInUp;
          "
        >
          <!-- Icon  -->
          <div class="statistic-icon">
            <i class="fas fa-location"></i>
          </div>

          <!-- Text -->
          <h5 class="statistic-number">
            <span class="count-element">473</span>
          </h5>
          <p class="txt-400">Local Partners</p>
        </div>
      </div>
    </div>
    <!-- End row -->
  </div>
  <!-- End container -->
</div>
