
.back-to-home-btn{
  position: absolute;
  top: 10px;
  right: 10px;
  width: fit-content;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

h2 {
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.mat-form-field-suffix {
  color: #ccc;
  cursor: pointer;
}




div:last-of-type {
  margin-top: 20px;
  text-align: center;
}

a {
  color: #0c4095;
  cursor: pointer;
}

.login-btn{
  padding: 20px 0;
}
