<header class="sticky-top">
  <div class="logo">
    <a routerLink="/"> Logo </a>
  </div>
  <nav>
    <ul>
      <li><a routerLink="/services">Services</a></li>
      <li><a routerLink="/appointment">Appointment</a></li>
      <li><a routerLink="/about">About</a></li>
      <li><a routerLink="/contact-us">Contact Us</a></li>
      <li><a routerLink="/sign-in" class="btn btn-primary">Sign In</a></li>
      <li><a routerLink="/sign-up" class="btn btn-secondary">Sign Up</a></li>
    </ul>
  </nav>
  <button class="burger-menu">
    <i class="fa fa-bars"></i>
  </button>
</header>