<div class="container">
  <div class="row mt-5">
    <div class="text-end">
      <a [routerLink]="['/patient/add']">
        <button type="button" class="btn btn-sm btn-primaryClr me-2 col-2" id="addButton">
          <i class="fa fa-plus"></i>
        </button>
      </a>
    </div>
  </div>

  <div class="my-2 table-responsive">
    <table class="table styled-table">
      <thead>
        <tr>
          <th scope="col">No.</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Age</th>
          <th scope="col">Phone Number</th>
          <th scope="col">Address</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let patient of patients; let i = index">
          <td scope="row">{{ i + 1 }}</td>
          <td>{{ patient.firstname }} {{ patient.lastname }}</td>
          <td>{{ patient.email }}</td>
          <td>{{ patient.age }}</td>
          <td>{{ patient.phoneNumber }}</td>
          <td>
            {{ patient.address.country }}, {{ patient.address.city }},
            {{ patient.address.street }}
          </td>
          <td>
            <div class="buttons d-flex flex-column d-md-flex flex-md-row gap-2">
              <a [routerLink]="['/patient/edit/', patient.id]">
                <button type="button" class="btn btn-sm btn-primary me-2">
                  <i class="fa fa-edit"></i>
                </button>
              </a>
              <a [routerLink]="['/patient/details/', patient.id]">
                <button class="btn btn-sm btn-dark me-2">
                  <i class="fa fa-eye"></i>
                </button>
              </a>
              <a>
                <button class="btn btn-sm btn-danger" (click)="deletePatient(patient.id)">
                  <i class="fa fa-trash"></i>
                </button>
              </a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>