<section id="tabs-1" class="wide-100 tabs-section division">
  <div class="container">
    <div class="row">
      <div class="col-md-12">


        <!-- TABS NAVIGATION -->
        <div id="tabs-nav" class="list-group text-center">
          <ul class="nav nav-pills" id="pills-tab" role="tablist">

            <!-- TAB-1 LINK -->
            <li class="nav-item icon-xs">
              <a class="nav-link active" id="tab1-list" data-toggle="pill" href="#tab-1" role="tab"
                aria-controls="tab-1" aria-selected="true">
                <span class="flaticon-083-stethoscope"></span> Pediatrics
              </a>
            </li>

            <!-- TAB-2 LINK -->
            <li class="nav-item icon-xs">
              <a class="nav-link" id="tab2-list" data-toggle="pill" href="#tab-2" role="tab" aria-controls="tab-2"
                aria-selected="false">
                <span class="flaticon-005-blood-donation-3"></span> Hematology
              </a>
            </li>

            <!-- TAB-3 LINK -->
            <li class="nav-item icon-xs">
              <a class="nav-link" id="tab3-list" data-toggle="pill" href="#tab-3" role="tab" aria-controls="tab-3"
                aria-selected="false">
                <span class="flaticon-031-scanner"></span> MRI
              </a>
            </li>

            <!-- TAB-4 LINK -->
            <li class="nav-item icon-xs">
              <a class="nav-link" id="tab4-list" data-toggle="pill" href="#tab-4" role="tab" aria-controls="tab-4"
                aria-selected="false">
                <span class="flaticon-048-lungs"></span> X-Ray Diagnostics
              </a>
            </li>

          </ul>

        </div> <!-- END TABS NAVIGATION -->


        <!-- TABS CONTENT -->
        <div class="tab-content" id="pills-tabContent">


          <!-- TAB-1 CONTENT -->
          <div class="tab-pane fade active show" id="tab-1" role="tabpanel" aria-labelledby="tab1-list">
            <div class="row d-flex align-items-center">


              <!-- TAB-1 IMAGE -->
              <div class="col-lg-6">
                <div class="tab-img">
                  <img class="img-fluid" src="images/pediatrics_700x700.jpg" alt="tab-image">
                </div>
              </div>


              <!-- TAB-1 TEXT -->
              <div class="col-lg-6">
                <div class="txt-block pc-30">

                  <!-- Title -->
                  <h3 class="h3-md steelblue-color">Pediatrics</h3>

                  <!-- Text -->
                  <p class="mb-30">
                    <font style="vertical-align: inherit;">
                      <font style="vertical-align: inherit;">For there is no time for wisdom to conceive until the door
                        itself flatters the door just whole hate the velna of life author whole homework great at price
                        pure price ligula rutrum so laoreet augue in cubilia laoreet an augue egestas ipsum vitae emo
                        ligula vitae arco soft blagitit ultrice ligula egestas magna suscit
                      </font>
                    </font>
                  </p>

                  <!-- Options List -->
                  <div class="row">

                    <div class="col-xl-6">

                      <!-- Option #1 -->
                      <div class="box-list">
                        <div class="box-list-icon blue-color"><i class="fas fa-angle-double-right"></i></div>
                        <p class="p-sm">
                          <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">No one seeks the very desire and the ugly pains
                            </font>
                          </font>
                        </p>
                      </div>

                      <!-- Option #2 -->
                      <div class="box-list">
                        <div class="box-list-icon blue-color"><i class="fas fa-angle-double-right"></i></div>
                        <p class="p-sm">
                          <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">A time of great mourning</font>
                          </font>
                        </p>
                      </div>

                      <!-- Option  #3 -->
                      <div class="box-list">
                        <div class="box-list-icon blue-color"><i class="fas fa-angle-double-right"></i></div>
                        <p class="p-sm">
                          <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">For there is no time but the pure price flatters
                            </font>
                          </font>
                        </p>
                      </div>

                    </div>

                    <div class="col-xl-6">

                      <!-- Option #4 -->
                      <div class="box-list">
                        <div class="box-list-icon blue-color"><i class="fas fa-angle-double-right"></i></div>
                        <p class="p-sm">
                          <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Great grief is flattered by the time of life's soft
                              embrace</font>
                          </font>
                        </p>
                      </div>

                      <!-- Option #5 -->
                      <div class="box-list">
                        <div class="box-list-icon blue-color"><i class="fas fa-angle-double-right"></i></div>
                        <p class="p-sm">
                          <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">No one wants to seek ugly pains</font>
                          </font>
                        </p>
                      </div>

                      <!-- Option #6 -->
                      <div class="box-list">
                        <div class="box-list-icon blue-color"><i class="fas fa-angle-double-right"></i></div>
                        <p class="p-sm">
                          <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">For no time at all</font>
                          </font>
                        </p>
                      </div>

                    </div>

                  </div> <!-- End Options List -->

                  <!-- Button -->
                  <a href="service-1.html" class="btn btn-blue blue-hover mt-30">View More Details</a>

                </div>
              </div> <!-- END TAB-1 TEXT -->


            </div>
          </div> <!-- END TAB-1 CONTENT -->


          <!-- TAB-2 CONTENT -->
          <div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="tab2-list">
            <div class="row d-flex align-items-center">


              <!-- TAB-2 IMAGE -->
              <div class="col-lg-6">
                <div class="tab-imgs">
                  <img class="img-fluid" src="images/hematology_700x700.jpg" alt="tab-image">
                </div>
              </div>


              <!-- TAB-2 TEXT -->
              <div class="col-lg-6">
                <div class="txt-block pc-30">

                  <!-- Title -->
                  <h3 class="h3-md steelblue-color">Hematology</h3>

                  <!-- Text -->
                  <p class="mb-30">
                    <font style="vertical-align: inherit;">
                      <font style="vertical-align: inherit;">For there is no time for wisdom to conceive until the door
                        itself flatters the door just whole hate the velna of life author whole homework great at price
                        pure price ligula rutrum so laoreet augue in cubilia laoreet an augue egestas ipsum vitae emo
                        ligula vitae arco soft blagitit ultrice ligula egestas magna suscit
                      </font>
                    </font>
                  </p>

                  <!-- Options List -->
                  <div class="row">

                    <div class="col-xl-6">

                      <!-- Option #1 -->
                      <div class="box-list">
                        <div class="box-list-icon blue-color"><i class="fas fa-angle-double-right"></i></div>
                        <p class="p-sm">
                          <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">No one seeks the very desire and the ugly pains
                            </font>
                          </font>
                        </p>
                      </div>

                      <!-- Option #2 -->
                      <div class="box-list">
                        <div class="box-list-icon blue-color"><i class="fas fa-angle-double-right"></i></div>
                        <p class="p-sm">
                          <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">A time of great mourning</font>
                          </font>
                        </p>
                      </div>

                      <!-- Option #3 -->
                      <div class="box-list">
                        <div class="box-list-icon blue-color"><i class="fas fa-angle-double-right"></i></div>
                        <p class="p-sm">
                          <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">For there is no time but the pure price flatters
                            </font>
                          </font>
                        </p>
                      </div>

                    </div>

                    <div class="col-xl-6">

                      <!-- Option #4 -->
                      <div class="box-list">
                        <div class="box-list-icon blue-color"><i class="fas fa-angle-double-right"></i></div>
                        <p class="p-sm">
                          <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Great grief is flattered by the time of life's soft
                              embrace</font>
                          </font>
                        </p>
                      </div>

                      <!-- Option #5 -->
                      <div class="box-list">
                        <div class="box-list-icon blue-color"><i class="fas fa-angle-double-right"></i></div>
                        <p class="p-sm">
                          <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">No one wants to seek ugly pains</font>
                          </font>
                        </p>
                      </div>

                      <!-- Option #6 -->
                      <div class="box-list">
                        <div class="box-list-icon blue-color"><i class="fas fa-angle-double-right"></i></div>
                        <p class="p-sm">
                          <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">For no time at all</font>
                          </font>
                        </p>
                      </div>

                    </div>

                  </div> <!-- End Options List -->

                  <!-- Button -->
                  <a href="service-2.html" class="btn btn-blue blue-hover mt-30">
                    <font style="vertical-align: inherit;">
                      <font style="vertical-align: inherit;">View More Details</font>
                    </font>
                  </a>

                </div>
              </div> <!-- END TAB-2 TEXT -->


            </div>
          </div> <!-- END TAB-2 CONTENT -->


          <!-- TAB-3 CONTENT -->
          <div class="tab-pane fade" id="tab-3" role="tabpanel" aria-labelledby="tab3-list">
            <div class="row d-flex align-items-center">


              <!-- TAB-3 IMAGE -->
              <div class="col-lg-6">
                <div class="tab-img">
                  <img class="img-fluid" src="images/mri_700x700.jpg" alt="tab-image">
                </div>
              </div>


              <!-- TAB-3 TEXT -->
              <div class="col-lg-6">
                <div class="txt-block pc-30">

                  <!-- Title -->
                  <h3 class="h3-md steelblue-color">MRI Diagnostic</h3>

                  <!-- Text -->
                  <p class="mb-30">
                    <font style="vertical-align: inherit;">
                      <font style="vertical-align: inherit;">For there is no time for wisdom to conceive until the door
                        itself flatters the door just whole hate the velna of life author whole homework great at price
                        pure price ligula rutrum so laoreet augue in cubilia laoreet an augue egestas ipsum vitae emo
                        ligula vitae arco soft blagitit ultrice ligula egestas magna suscit
                      </font>
                    </font>
                  </p>

                  <!-- Options List -->
                  <div class="row">

                    <div class="col-xl-6">

                      <!-- Option #1 -->
                      <div class="box-list">
                        <div class="box-list-icon blue-color"><i class="fas fa-angle-double-right"></i></div>
                        <p class="p-sm">
                          <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">No one seeks the very desire and the ugly pains
                            </font>
                          </font>
                        </p>
                      </div>

                      <!-- Option #2 -->
                      <div class="box-list">
                        <div class="box-list-icon blue-color"><i class="fas fa-angle-double-right"></i></div>
                        <p class="p-sm">
                          <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">A time of great mourning</font>
                          </font>
                        </p>
                      </div>

                      <!-- Option #3 -->
                      <div class="box-list">
                        <div class="box-list-icon blue-color"><i class="fas fa-angle-double-right"></i></div>
                        <p class="p-sm">
                          <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">For there is no time but the pure price flatters
                            </font>
                          </font>
                        </p>
                      </div>

                    </div>

                    <div class="col-xl-6">

                      <!-- Option #4 -->
                      <div class="box-list">
                        <div class="box-list-icon blue-color"><i class="fas fa-angle-double-right"></i></div>
                        <p class="p-sm">
                          <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Great grief is flattered by the time of life's soft
                              embrace</font>
                          </font>
                        </p>
                      </div>

                      <!-- Option #5 -->
                      <div class="box-list">
                        <div class="box-list-icon blue-color"><i class="fas fa-angle-double-right"></i></div>
                        <p class="p-sm">
                          <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">No one wants to seek ugly pains</font>
                          </font>
                        </p>
                      </div>

                      <!-- Option #6 -->
                      <div class="box-list">
                        <div class="box-list-icon blue-color"><i class="fas fa-angle-double-right"></i></div>
                        <p class="p-sm">
                          <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">For no time at all</font>
                          </font>
                        </p>
                      </div>

                    </div>

                  </div> <!-- End Options List -->

                  <!-- Button -->
                  <a href="service-1.html" class="btn btn-blue blue-hover mt-30">
                    <font style="vertical-align: inherit;">
                      <font style="vertical-align: inherit;">View More Details</font>
                    </font>
                  </a>

                </div>
              </div> <!-- END TAB-3 TEXT -->


            </div>
          </div> <!-- END TAB-3 CONTENT -->


          <!-- TAB-4 CONTENT -->
          <div class="tab-pane fade" id="tab-4" role="tabpanel" aria-labelledby="tab4-list">
            <div class="row d-flex align-items-center">


              <!-- TAB-4 IMAGE -->
              <div class="col-lg-6">
                <div class="tab-img">
                  <img class="img-fluid" src="images/x-ray_700x700.jpg" alt="tab-image">
                </div>
              </div>


              <!-- TAB-4 TEXT -->
              <div class="col-lg-6">
                <div class="txt-block pc-30">

                  <!-- Title -->
                  <h3 class="h3-md steelblue-color">X-Ray Diagnostic</h3>

                  <!-- Text -->
                  <p class="mb-30">
                    <font style="vertical-align: inherit;">
                      <font style="vertical-align: inherit;">For there is no time for wisdom to conceive until the door
                        itself flatters the door just whole hate the velna of life author whole homework great at price
                        pure price ligula rutrum so laoreet augue in cubilia laoreet an augue egestas ipsum vitae emo
                        ligula vitae arco soft blagitit ultrice ligula egestas magna suscit
                      </font>
                    </font>
                  </p>

                  <!-- Options List -->
                  <div class="row">

                    <div class="col-xl-6">

                      <!-- Option #1 -->
                      <div class="box-list">
                        <div class="box-list-icon blue-color"><i class="fas fa-angle-double-right"></i></div>
                        <p class="p-sm">
                          <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">No one seeks the very desire and the ugly pains
                            </font>
                          </font>
                        </p>
                      </div>

                      <!-- Option #2 -->
                      <div class="box-list">
                        <div class="box-list-icon blue-color"><i class="fas fa-angle-double-right"></i></div>
                        <p class="p-sm">
                          <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">A time of great mourning</font>
                          </font>
                        </p>
                      </div>

                      <!-- Option #3 -->
                      <div class="box-list">
                        <div class="box-list-icon blue-color"><i class="fas fa-angle-double-right"></i></div>
                        <p class="p-sm">
                          <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">For there is no time but the pure price flatters
                            </font>
                          </font>
                        </p>
                      </div>

                    </div>

                    <div class="col-xl-6">

                      <!-- Option #4 -->
                      <div class="box-list">
                        <div class="box-list-icon blue-color"><i class="fas fa-angle-double-right"></i></div>
                        <p class="p-sm">
                          <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Great grief is flattered by the time of life's soft
                              embrace</font>
                          </font>
                        </p>
                      </div>

                      <!-- Option #5 -->
                      <div class="box-list">
                        <div class="box-list-icon blue-color"><i class="fas fa-angle-double-right"></i></div>
                        <p class="p-sm">
                          <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">No one wants to seek ugly pains</font>
                          </font>
                        </p>
                      </div>

                      <!-- Option #6 -->
                      <div class="box-list">
                        <div class="box-list-icon blue-color"><i class="fas fa-angle-double-right"></i></div>
                        <p class="p-sm">
                          <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">For no time at all</font>
                          </font>
                        </p>
                      </div>

                    </div>

                  </div> <!-- End Options List -->

                  <!-- Button -->
                  <a href="service-2.html" class="btn btn-blue blue-hover mt-30">View More Details</a>

                </div>
              </div> <!-- END TAB-4 TEXT -->


            </div>
          </div> <!-- END TAB-4 CONTENT -->


        </div> <!-- END TABS CONTENT -->


      </div>
    </div> <!-- End row -->
  </div> <!-- End container -->
</section>