<mat-tab-group class="px-3 bgc">
  <mat-tab *ngFor="let clinic of clinics">
    <div class="bg-danger">
      <ng-template mat-tab-label>
        <img src="../../../assets/servicesIcons/{{spToImg(clinic._specilization)}}.png" width="30rem">
        <span class="mx-2">{{clinic._specilization}}</span>
      </ng-template>
    </div>
    <div class="my-3 d-flex flex-column gap-3 flex-lg-row justify-content-around align-items-center">
      <div class="imgDv mb-md-0 mb-3">
        <img class="shad" src="../../../assets/serviceHeader/{{spToImg(clinic._specilization)}}.jpg">
      </div>
      <div class="d-flex flex-column col-12 col-md-5">
        <strong class="fs-4 pcolor my-2">{{clinic._specilization}} Department</strong>
        <span class="fw-light textFix fs-5 pcolor mb-2">{{spToDescription(clinic._specilization)}}
        </span>
        <button class="btn btn-primary" routerLink="clinic/services/{{clinic._specilization}}">View Services</button>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>