h3 {
  margin: 0 !important;
  text-shadow: -2px 1px 4px rgba(0, 0, 0, 0.6);
}

.carousel-size{
  margin: 0 auto;
  width: 100%;
}

.carousel-size img{
  width: 100%;
  height: 600px;
  object-fit: cover;
  object-position: 0 35%;
}


