<div class="container">
  <div class="row my-5">
    <div class="text-end">
      <button mat-button class="button back-button" (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
        Back
      </button>
    </div>
  </div>
  <mat-card class="py-4 mb-5">
    <form [formGroup]="patientForm" (ngSubmit)="onSubmit()" class="form p-3">
      <div
        class="form-row d-flex flex-column flex-md-row gap-md-5 justify-content-center"
      >
        <mat-form-field appearance="fill" class="form-field col-12 col-md-5">
          <mat-label>First Name</mat-label>
          <input matInput formControlName="firstname" required />
          <mat-error
            *ngIf="
              patientForm.get('firstname')?.invalid &&
              (patientForm.get('firstname')?.dirty ||
                patientForm.get('firstname')?.touched)
            "
          >
            <span *ngIf="patientForm.get('firstname')?.errors?.['pattern']">
              {{ validationMessages.firstname.pattern }}
            </span>
            <span *ngIf="patientForm.get('firstname')?.errors?.['minlength']">
              {{ validationMessages.firstname.minlength }}
            </span>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="form-field col-12 col-md-5">
          <mat-label>Last Name</mat-label>
          <input matInput formControlName="lastname" required />
          <mat-error
            *ngIf="
              patientForm.get('lastname')?.invalid &&
              (patientForm.get('lastname')?.dirty ||
                patientForm.get('lastname')?.touched)
            "
          >
            <span *ngIf="patientForm.get('lastname')?.errors?.['pattern']">
              {{ validationMessages.lastname.pattern }}
            </span>
            <span *ngIf="patientForm.get('lastname')?.errors?.['minlength']">
              {{ validationMessages.lastname.minlength }}
            </span>
          </mat-error>
        </mat-form-field>
      </div>
      <div
        class="form-row d-flex flex-column flex-md-row gap-md-5 justify-content-center"
      >
        <mat-form-field appearance="fill" class="form-field col-12 col-md-5">
          <mat-label>Phone Number</mat-label>
          <input matInput formControlName="phoneNumber" required />
          <mat-error
            class="error-message"
            *ngIf="
              patientForm.get('phoneNumber')?.invalid &&
              (patientForm.get('phoneNumber')?.dirty ||
                patientForm.get('phoneNumber')?.touched)
            "
          >
            <span *ngIf="patientForm.get('phoneNumber')?.errors?.['pattern']">
              {{ validationMessages.phoneNumber.pattern }}
            </span>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="form-field col-12 col-md-5">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" type="email" required />
          <mat-error
            class="error-message"
            *ngIf="
              patientForm.get('email')?.invalid &&
              (patientForm.get('email')?.dirty ||
                patientForm.get('email')?.touched)
            "
          >
            <span *ngIf="patientForm.get('email')?.errors?.['email']">{{
              validationMessages.email.email
            }}</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div
        class="form-row d-flex flex-column flex-md-row gap-md-5 justify-content-center"
      >
        <mat-form-field appearance="fill" class="form-field col-12 col-md-5">
          <mat-label>Date of Birth</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            formControlName="dateOfBirth"
            required
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error
            *ngIf="
              patientForm.get('dateOfBirth')?.invalid &&
              (patientForm.get('dateOfBirth')?.dirty ||
                patientForm.get('dateOfBirth')?.touched)
            "
          >
            <span *ngIf="patientForm.get('dateOfBirth')?.errors?.['pattern']">
              {{ validationMessages.dateOfBirth.pattern }}
            </span>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" class="form-field col-12 col-md-5">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" type="password" required />
          <mat-error
            *ngIf="
              patientForm.get('password')?.invalid &&
              (patientForm.get('password')?.dirty ||
                patientForm.get('password')?.touched)
            "
          >
            <span *ngIf="patientForm.get('password')?.errors?.['pattern']">
              {{ validationMessages.password.pattern }}
            </span>
            <span *ngIf="patientForm.get('password')?.errors?.['minlength']">
              {{ validationMessages.password.minlength }}
            </span>
          </mat-error>
        </mat-form-field>
      </div>
      <div formGroupName="address">
        <div
          class="form-row d-flex flex-column flex-md-row gap-md-5 justify-content-center"
        >
          <mat-form-field appearance="fill" class="form-field col-12 col-md-5">
            <mat-label>Street</mat-label>
            <input matInput formControlName="street" required />
            <mat-error
              class="error-message"
              *ngIf="
                patientForm.get('address.street')?.invalid &&
                (patientForm.get('address.street')?.dirty ||
                  patientForm.get('address.street')?.touched)
              "
            >
              <span
                *ngIf="patientForm.get('address.street')?.errors?.['pattern']"
                >{{ validationMessages.address.street.pattern }}</span
              >
              <span
                *ngIf="patientForm.get('address.street')?.errors?.['minlength']"
                >{{ validationMessages.address.street.minlength }}</span
              >
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill" class="form-field col-12 col-md-5">
            <mat-label>City</mat-label>
            <input matInput formControlName="city" required />
            <mat-error
              class="error-message"
              *ngIf="
                patientForm.get('address.city')?.invalid &&
                (patientForm.get('address.city')?.dirty ||
                  patientForm.get('address.city')?.touched)
              "
            >
              <span
                *ngIf="patientForm.get('address.city')?.errors?.['pattern']"
                >{{ validationMessages.address.city.pattern }}</span
              >
              <span
                *ngIf="patientForm.get('address.city')?.errors?.['minlength']"
                >{{ validationMessages.address.city.minlength }}</span
              >
            </mat-error>
          </mat-form-field>
        </div>
        <div
          class="form-row d-flex flex-column flex-md-row gap-md-5 justify-content-center"
        >
          <mat-form-field appearance="fill" class="form-field col-12 col-md-5">
            <mat-label>Country</mat-label>
            <input matInput formControlName="country" required />

            <mat-error
              class="error-message"
              *ngIf="
                patientForm.get('address.country')?.invalid &&
                (patientForm.get('address.country')?.dirty ||
                  patientForm.get('address.country')?.touched)
              "
            >
              <span
                *ngIf="patientForm.get('address.country')?.errors?.['pattern']"
                >{{ validationMessages.address.country.pattern }}</span
              >
              <span
                *ngIf="patientForm.get('address.country')?.errors?.['minlength']"
                >{{ validationMessages.address.country.minlength }}</span
              >
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill" class="form-field col-12 col-md-5">
            <mat-label>Zip Code</mat-label>
            <input matInput formControlName="zipCode" required />

            <mat-error
              class="error-message"
              *ngIf="
                patientForm.get('address.zipCode')?.invalid &&
                (patientForm.get('address.zipCode')?.dirty ||
                  patientForm.get('address.zipCode')?.touched)
              "
            >
              <span
                *ngIf="patientForm.get('address.zipCode')?.errors?.['pattern']"
                >{{ validationMessages.address.zipCode.pattern }}</span
              >
              <span
                *ngIf="patientForm.get('address.zipCode')?.errors?.['minlength']"
                >{{ validationMessages.address.zipCode.minlength }}</span
              >
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div
        class="form-row d-flex flex-column flex-md-row gap-md-5 justify-content-center"
      >
        <div
          class="d-flex flex-column justify-content-center gap-2 col-12 col-md-5"
        >
          <mat-radio-group formControlName="gender" class="form-field">
            <mat-radio-button value="male">Male</mat-radio-button>
            <mat-radio-button value="female">Female</mat-radio-button>
          </mat-radio-group>
          <div class="d-flex gap-1">
            <label for="photo">Profile Photo: </label>
            <input
              type="file"
              (change)="onFileSelected($event)"
              accept="image/*"
            />
          </div>
        </div>
        <mat-form-field appearance="fill" class="form-field col-12 col-md-5">
          <mat-label>Medical History</mat-label>
          <textarea matInput formControlName="medicalHistory"></textarea>
        </mat-form-field>
      </div>

      <div class="form-row d-flex justify-content-end me-5 pe-3">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="!patientForm.valid"
        >
          Update Patient
        </button>
      </div>
    </form>
  </mat-card>
</div>
