<div class="container">
    <div class="row my-5">
        <div class="text-end">
            <button mat-button class="button back-button" (click)="goBack()">
                <mat-icon>arrow_back</mat-icon>
                Back
            </button>
        </div>
    </div>
    <mat-card class="container p-3">
        <mat-card-header>
            <h2>Add Payment</h2>
        </mat-card-header>
        <mat-card-content>
            <form class="example-form" [formGroup]="paymentForm" class="row">
                <div class="d-flex flex-column flex-md-row justify-content-center align-items-center gap-md-3 gap-0">
                    <mat-form-field class="col-12 col-md-6">
                        <mat-label>Invoice ID</mat-label>
                        <input matInput formControlName="id">
                        <mat-error class="error-message" *ngIf="
                        paymentForm.get('id')?.invalid &&
                                        (paymentForm.get('id')?.dirty||
                                        paymentForm.get('id')?.touched)">
                                    <span
                                        *ngIf="paymentForm.get('id')?.errors?.['required']">
                                        {{ validationMessages.id.required }}
                                    </span>
                                    <span
                                        *ngIf="paymentForm.get('id')?.errors?.['pattern']">
                                        {{ validationMessages.id.pattern }}
                                    </span>
                                </mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-12 col-md-6">
                        <mat-label>Amount</mat-label>
                        <input matInput formControlName="amount">
                        <mat-error class="error-message" *ngIf="
                        paymentForm.get('amount')?.invalid &&
                                        (paymentForm.get('amount')?.dirty||
                                        paymentForm.get('amount')?.touched)">
                                    <span
                                        *ngIf="paymentForm.get('amount')?.errors?.['required']">
                                        {{ validationMessages.amount.required }}
                                    </span>
                                    <span
                                        *ngIf="paymentForm.get('amount')?.errors?.['pattern']">
                                        {{ validationMessages.amount.pattern }}
                                    </span>
                                </mat-error>
                    </mat-form-field>
                </div>
                <div class="d-flex flex-column flex-md-row justify-content-center align-items-center gap-md-3 gap-0">
                    <mat-form-field class="col-12 col-md-6">
                        <mat-label>Card Number</mat-label>
                        <input matInput formControlName="card_number">
                        <mat-error class="error-message" *ngIf="
                        paymentForm.get('card_number')?.invalid &&
                                        (paymentForm.get('card_number')?.dirty||
                                        paymentForm.get('card_number')?.touched)">
                                    <span
                                        *ngIf="paymentForm.get('card_number')?.errors?.['required']">
                                        {{ validationMessages.card_number.required }}
                                    </span>
                                </mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-12 col-md-6">
                        <mat-label>Exp Month</mat-label>
                        <input matInput formControlName="exp_month">
                        <mat-error class="error-message" *ngIf="
                        paymentForm.get('exp_month')?.invalid &&
                                        (paymentForm.get('exp_month')?.dirty||
                                        paymentForm.get('exp_month')?.touched)">
                                    <span
                                        *ngIf="paymentForm.get('exp_month')?.errors?.['required']">
                                        {{ validationMessages.exp_month.required }}
                                    </span>
                                    <span
                                        *ngIf="paymentForm.get('exp_month')?.errors?.['pattern']">
                                        {{ validationMessages.exp_month.pattern }}
                                    </span>
                                </mat-error>
                    </mat-form-field>
                </div>
                <div class="d-flex flex-column flex-md-row justify-content-center align-items-center gap-md-3 gap-0">
                    <mat-form-field class="col-12 col-md-6">
                        <mat-label>Exp Year</mat-label>
                        <input matInput formControlName="exp_year">
                        <mat-error class="error-message" *ngIf="
                        paymentForm.get('exp_year')?.invalid &&
                                        (paymentForm.get('exp_year')?.dirty||
                                        paymentForm.get('exp_year')?.touched)">
                                    <span
                                        *ngIf="paymentForm.get('exp_year')?.errors?.['required']">
                                        {{ validationMessages.exp_year.required }}
                                    </span>
                                    <span
                                        *ngIf="paymentForm.get('exp_year')?.errors?.['pattern']">
                                        {{ validationMessages.exp_year.pattern }}
                                    </span>
                                </mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-12 col-md-6">
                        <mat-label>CVC</mat-label>
                        <input matInput formControlName="cvc">
                        <mat-error class="error-message" *ngIf="
                        paymentForm.get('cvc')?.invalid &&
                                        (paymentForm.get('cvc')?.dirty||
                                        paymentForm.get('cvc')?.touched)">
                                    <span
                                        *ngIf="paymentForm.get('cvc')?.errors?.['required']">
                                        {{ validationMessages.cvc.required }}
                                    </span>
                                    <span
                                        *ngIf="paymentForm.get('cvc')?.errors?.['pattern']">
                                        {{ validationMessages.cvc.pattern }}
                                    </span>
                                </mat-error>
                    </mat-form-field>
                </div>
                <div style="display: flex;justify-content: center;">
                    <button class="btn btn-primary mt-2" style="width: 15%;" (click)="add()" [disabled]="!paymentForm.valid">Save</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>