<div class="container">
    <div class="row mt-5">
      <div class="text-end">
        <a [routerLink]="['/prescription/add']">
          <button
            type="button"
            class="btn btn-sm btn-primaryClr me-2 col-2"
            id="addButton"
          >
            <i class="fa fa-plus"></i>
          </button>
        </a>
      </div>
    </div>
    <br>
<table class="table table-striped table-bordered styled-table">
    <thead >
        <tr style="text-align: center;">
            <th>ID</th>
            <th>Date</th>
            <th>Clinic ID</th>
            <th>Patient ID</th>
            <th>Doctor ID</th>
            <th>Operations</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let prescription of prescriptions" style="text-align: center;">
            <td>{{prescription._id}}</td>
            <td>{{prescription.date}}</td>
            <td>{{prescription.clinicRef}}</td>
            <td>{{prescription.patientRef}}</td>
            <td>{{prescription.doctorRef}}</td>
            <td style="display: flex;justify-content: space-around;"> 
                <div class="buttons d-flex flex-column d-md-flex flex-md-row gap-2">
                  <a [routerLink]="['/prescription/edit/', prescription._id]">
                    <button type="button" class="btn btn-sm btn-primary me-2">
                      <i class="fa fa-edit"></i>
                    </button>
                  </a>
                  <a [routerLink]="['/prescription/details/', prescription._id]">
                    <button class="btn btn-sm btn-dark me-2">
                      <i class="fa fa-eye"></i>
                    </button>
                  </a>
                  <a>
                    <button
                      class="btn btn-sm btn-danger"
                      (click)="delete(prescription._id)"
                    >
                      <i class="fa fa-trash"></i>
                    </button>
                  </a>
                </div>
              </td>
        </tr>
    </tbody>
</table>
<router-outlet></router-outlet>