<div class="alert alert-success" style="font-size: 20px;">
    medicine ID: {{medicine._id}}
    <br><br>
    medicine Name: {{medicine._name}}
    <br><br>
    medicine Production Date: {{medicine._productionDate}}
    <br><br>
    medicine Expiry Date: {{medicine._expiryDate}}
    <br><br>
    medicine Leaflet: {{medicine._leaflet}}
    <br><br>
    medicine Price: {{medicine._pricePerUnit}}
    <br><br>
    medicine Quantity: {{medicine._quantity}}
</div>
<a routerLink="/medicine" class="btn btn-info">Back!</a>