<div class="clinic-features-section">
  <div class="features">
    <div class="feature">
      <div class="feature-headline">Qualified Doctors</div>
      <div class="feature-title">WHERE PEOPLE COME FIRST</div>
      <div class="feature-description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </div>
    </div>
    <div class="feature">
      <div class="feature-headline">24 Hour Service</div>
      <div class="feature-title">HIGHEST QUALITY CARE</div>
      <div class="feature-description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </div>
    </div>
    <div class="feature">
      <div class="feature-headline">Here For You</div>
      <div class="feature-title">EMERGENCY DEPARTMENT</div>
      <div class="feature-description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </div>
    </div>
  </div>
</div>
