<br><br>
<a routerLink="/medicine/add" class="btn btn-warning">Add New medicine</a>
<br><br>
<div class="table-responsive">
    <table class="table table-dark table-striped table-hover table-bordered">
        <thead class="table-secondary">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Pr Date</th>
                <th scope="col">Ex Date</th>
                <th scope="col">Details</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of medicine">
                <th>{{item._id}}</th>
                <td>{{item._name}}</td>
                <td>{{item._productionDate}}</td>
                <td>{{item._expiryDate}}</td>
                <td>
                    <a [routerLink]="['/medicine','details',item._id]" class="btn btn-info">Details</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>