<div class="alert alert-success" style="font-size: 20px;">
    Medicine ID: {{medicine._id}}
    <br><br>
    Medicine Name: {{medicine._name}}
    <br><br>
    Medicine Production Date: {{medicine._productionDate}}
    <br><br>
    Medicine Expiry Date: {{medicine._expiryDate}}
    <br><br>
    Medicine Leaflet: {{medicine._leaflet}}
    <br><br>
    Medicine Price: {{medicine._pricePerUnit}}
    <br><br>
    Medicine Quantity: {{medicine._quantity}}
</div>
<a routerLink="/medicine" class="btn btn-info">Back!</a>