<hr>
<div class="col-3 text-center">
    <h1 class="alert alert-info border-0 rounded-0 py-1">{{speciallity.replace(speciallity[0],speciallity[0].toUpperCase())}}</h1>
    <table class="table table-hover table-info">
        <thead>
            <tr>
                <th>Service</th>
                <th>Cost</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of services">
                <td>{{item.name}}</td>
                <td>{{item.cost}}</td>
            </tr>
        </tbody>
    </table>
</div>