<div class="hero-section d-flex flex-column flex-md-row">
  <div class="hero-image col-12 col-md-4">
    <img src="../../../assets/images//alexandr-podvalny-tE7_jvK-_YU-unsplash.jpg" alt="Hero Image" />
  </div>
  <div class="hero-description col-12 col-md-8 d-flex flex-column align-items-start justify-content-center">
    <div class="headline">
      <h1>We take care <br />because we care</h1>
      <p>Excellent health services for all patients who come to our clinic</p>
    </div>
    <div class="features-section mt-4">
      <div class="feature">
        <div class="feature-icon">
          <i class="fas fa-ambulance"></i>
        </div>
        <div class="feature-description">
          <h3>Emergency services</h3>
          <p>
            We are available 24/7 to provide you with the best emergency
            services
          </p>
        </div>
      </div>
      <div class="feature">
        <div class="feature-icon">
          <i class="fas fa-stethoscope"></i>
        </div>
        <div class="feature-description">
          <h3>Medical checkups</h3>
          <p>
            We provide medical checkups for all patients who come to our clinic
          </p>
        </div>
      </div>
      <div class="feature">
        <div class="feature-icon">
          <i class="fas fa-syringe"></i>
        </div>
        <div class="feature-description">
          <h3>Vaccines</h3>
          <p>We provide vaccines for all patients who come to our clinic</p>
        </div>
      </div>
      <div class="feature">
        <div class="feature-icon">
          <i class="fas fa-pills"></i>
        </div>
        <div class="feature-description">
          <h3>Medicines</h3>
          <p>We provide medicines for all patients who come to our clinic</p>
        </div>
      </div>
      <div class="feature">
        <div class="feature-icon">
          <i class="fas fa-user-md"></i>
        </div>
        <div class="feature-description">
          <h3>Qualified doctors</h3>
          <p>
            We have the best doctors in the country, who will take care of you
          </p>
        </div>
      </div>
      <div class="feature">
        <div class="feature-icon">
          <i class="fas fa-hospital"></i>
        </div>
        <div class="feature-description">
          <h3>Modern equipment</h3>
          <p>
            We have the best equipment in the country, which will help you
            recover
          </p>
        </div>
      </div>
    </div>

    <div class="hero-buttons col-12 mt-5 d-flex flex-column align-content-center flex-sm-row gap-2">
      <a [routerLink]="['/appointment','add']" class="btn btn-primary">Book an appointment</a>
      <button class="btn btn-secondary">Learn more</button>
    </div>
  </div>
</div>