<div class="container">
  <div class="row mt-5 mb-3">
    <div class="text-end">
      <button mat-raised-button (click)="goBack()" class="back-to-home-btn">
        <mat-icon>arrow_back</mat-icon>
        Back
      </button>
    </div>
  </div>
  <mat-card class="mb-4 patient-card">
    <mat-card-header class="patient-card-header">
      <mat-card-title>Clinic details</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p><strong>Specilization:</strong> {{clinic._specilization}}</p>
      <p>
        <strong>Address:</strong> {{clinic._address.city}} , {{clinic._address.street}} ,
        {{clinic._address.country}}
      </p>
      <p><strong>Postal Code</strong> {{clinic._address.zipCode}}</p>
      <p><strong>Phone Number:</strong> {{ clinic._contactNumber }}</p>
      <div *ngIf="clinic._weeklySchedule.length>0">
        <div class="pr text-light rounded-2 text-center py-2"><strong>Schedule</strong></div>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Doctor</th>
              <th>Day</th>
              <th>Start Time</th>
              <th>End Time</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let schedule of clinic._weeklySchedule">
              <td>{{schedule.doctorId.firstname}} {{schedule.doctorId.lastname}}</td>
              <td>{{schedule.day}}</td>
              <td>{{schedule.start}}</td>
              <td>{{schedule.end}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </mat-card-content>
  </mat-card>
</div>