<mat-card class="container p-3">
  <mat-card-content>
    <h2>Registeration</h2>
    <button mat-raised-button routerLink="" class="back-to-home-btn">
      <mat-icon>arrow_back</mat-icon>
      Back To Home
    </button>
    <form [formGroup]="registerform" (ngSubmit)="proceedregister()" class="row">
      <div class="d-flex flex-column flex-md-row justify-content-center align-items-center gap-md-3 gap-0">
        <mat-form-field class="col-12 col-md-6">
          <mat-label>First Name</mat-label>
          <input matInput formControlName="firstname">
          <mat-error *ngIf="
            registerform.get('firstname')?.invalid &&
              (registerform.get('firstname')?.dirty ||
              registerform.get('firstname')?.touched)
            ">
            <span *ngIf="registerform.get('firstname')?.errors?.['required']">
              {{ validationMessages.firstname.required }}
            </span>
            <span *ngIf="registerform.get('firstname')?.errors?.['pattern']">
              {{ validationMessages.firstname.pattern }}
            </span>
            <span *ngIf="registerform.get('firstname')?.errors?.['minlength']">
              {{ validationMessages.firstname.minlength }}
            </span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="col-12 col-md-6">
          <mat-label>Last Name</mat-label>
          <input matInput formControlName="lastname">
          <mat-error *ngIf="
        registerform.get('lastname')?.invalid &&
          (registerform.get('lastname')?.dirty ||
          registerform.get('lastname')?.touched)
        ">
            <span *ngIf="registerform.get('lastname')?.errors?.['required']">
              {{ validationMessages.lastname.required }}
            </span>
            <span *ngIf="registerform.get('lastname')?.errors?.['pattern']">
              {{ validationMessages.lastname.pattern }}
            </span>
            <span *ngIf="registerform.get('lastname')?.errors?.['minlength']">
              {{ validationMessages.lastname.minlength }}
            </span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="d-flex flex-column flex-md-row justify-content-center align-items-center gap-md-3 gap-0">
        <mat-form-field class="col-12 col-md-6">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email">
          <mat-error class="error-message" *ngIf="
            registerform.get('email')?.invalid &&
              (registerform.get('email')?.dirty ||
              registerform.get('email')?.touched)
            ">
            <span *ngIf="registerform.get('email')?.errors?.['required']">
              {{ validationMessages.email.required }}</span>
            <span *ngIf="registerform.get('email')?.errors?.['email']">{{
              validationMessages.email.email
              }}</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="col-12 col-md-6">
          <mat-label>Password</mat-label>
          <input type="password" matInput formControlName="password">
          <mat-error *ngIf="
            registerform.get('password')?.invalid &&
              (registerform.get('password')?.dirty ||
              registerform.get('password')?.touched)
            ">
            <span *ngIf="registerform.get('password')?.errors?.['required']">
              {{ validationMessages.password.required }}
            </span>
            <span *ngIf="registerform.get('password')?.errors?.['pattern']">
              {{ validationMessages.password.pattern }}
            </span>
            <span *ngIf="registerform.get('password')?.errors?.['minlength']">
              {{ validationMessages.password.minlength }}
            </span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="d-flex flex-column flex-md-row justify-content-center align-items-center gap-md-3 gap-0">
        <mat-form-field class="col-12 col-md-6">
          <mat-label>Phone</mat-label>
          <input matInput formControlName="phoneNumber">
          <mat-error class="error-message" *ngIf="
            registerform.get('phoneNumber')?.invalid &&
              (registerform.get('phoneNumber')?.dirty ||
              registerform.get('phoneNumber')?.touched)
            ">
            <span *ngIf="registerform.get('phoneNumber')?.errors?.['required']">
              {{ validationMessages.phoneNumber.required }}
            </span>
            <span *ngIf="registerform.get('phoneNumber')?.errors?.['pattern']">
              {{ validationMessages.phoneNumber.pattern }}
            </span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="col-12 col-md-6">
          <mat-label>Date Of Birth</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="dateOfBirth" [min]="minDate" [max]="maxDate" />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="
            registerform.get('dateOfBirth')?.invalid &&
              (registerform.get('dateOfBirth')?.dirty ||
              registerform.get('dateOfBirth')?.touched)
            ">
            <span *ngIf="registerform.get('dateOfBirth')?.errors?.['required']">{{
              validationMessages.dateOfBirth.required
              }}</span>
            <span *ngIf="registerform.get('dateOfBirth')?.errors?.['pattern']">{{ validationMessages.dateOfBirth.pattern
              }}</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="d-flex flex-column flex-md-row justify-content-center align-items-center gap-md-3 px-3 gap-0">
        <mat-form-field class="col-12 col-md-4">
          <mat-label>Country</mat-label>
          <mat-select id="country" name="country" formControlName="address.country">
            <mat-option value="Egypt">Egypt</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="col-12 col-md-4">
          <mat-label>City</mat-label>
          <mat-select id="city" name="city" formControlName="address.city">
            <mat-option *ngFor="let address of addresses" value={{address.city}}>{{address.city}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="col-12 col-md-4">
          <mat-label>Zip code</mat-label>
          <input matInput formControlName="address.zipCode" required>
        </mat-form-field>
      </div>
      <mat-form-field class="col-12 p-0">
        <mat-label>Street</mat-label>
        <input type="text" matInput formControlName="address.street" required>
      </mat-form-field>

      <div class="d-flex flex-column flex-md-row justify-content-center align-items-center gap-md-3 px-3 gap-0">
        <mat-radio-group aria-label="Select an option" formControlName="gender">
          <div class="radio-container">
            <input type="radio" name="gender" value="male" id="male" required />
            <label for="male">Male</label>
            <input checked type="radio" name="gender" value="female" id="female" required />
            <label for="female">Female</label>
            <mat-error *ngIf="
              registerform.get('gender')?.invalid &&
              registerform.get('gender')?.touched
              ">
            {{ validationMessages.gender.required }}
          </mat-error>
          </div>
        </mat-radio-group>
        <label for="images" [class.uploaded]="file" class="drop-container my-2">
          <span #dropImage class="drop-title">Upload profile image</span>
          <div class="ms-5 d-none"><input type="file" id="images" (change)="getFile($event,dropImage)"></div>
        </label>
      </div>

      <div class="d-flex justify-content-end align-items-center">
        <button mat-raised-button color="primary">Submit</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>