<div class="container">
    <div class="row my-5">
        <div class="text-end">
            <button mat-button class="button back-button" (click)="back()">
                <mat-icon>arrow_back</mat-icon>
                Back
            </button>
        </div>
    </div>
    <mat-card class="my-5 patient-card">
        <mat-card-header class="patient-card-header">
            <mat-card-title>Appointment Details</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p><strong>Clinic ID : </strong> {{_appointment._clinicId}}</p>
            <p><strong>Patient ID :</strong>{{_appointment.patientId}}</p>
            <p><strong>Patient Type :</strong>{{_appointment.patientType}}</p>
            <p><strong>Doctor ID :</strong>{{_appointment._doctorId}}</p>
            <p><strong>Appointment Date : </strong>{{_appointment._date}}</p>
            <p><strong>Appointment Time : </strong>{{_appointment._time}}</p>
            <p><strong>Appointment Status : </strong>{{_appointment._status}}</p>
        </mat-card-content>
    </mat-card>
</div>
