<div class="alert alert-success" style="font-size: 20px;">
    Clinic ID: {{_appointment._clinicId}}
    <br><br>
    Patient ID: {{_appointment.patientId}}
    <br><br>
    Patient Type: {{_appointment.patientType}}
    <br><br>
    Doctor ID: {{_appointment._doctorId}}
    <br><br>
    Appointment Date: {{_appointment._date}}
    <br><br>
    Appointment Time: {{_appointment._time}}
    <br><br>
    Appointment Status: {{_appointment._status}}
    <br><br>

</div>
<a routerLink="/appointment" class="btn btn-info">Back!</a>