<!-- <br><br>
<a routerLink="/medicine/add" class="btn btn-success ms-5">Add New medicine</a>
<br><br>
<div class="table-responsive">
    <table class="table table-dark table-striped table-hover table-bordered">
        <thead class="table-secondary">
            <tr style="text-align: center;">
                <th scope="col">Medicine ID</th>
                <th scope="col">Name</th>
                <th scope="col">ProductionDate</th>
                <th scope="col">Expiry Date</th>
                <th scope="col">Medicine Details</th>
                <th scope="col">Delete Medicine</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of medicine" style="text-align: center;">
                <th>{{item._id}}</th>
                <td>{{item._name}}</td>
                <td>{{item._productionDate}}</td>
                <td>{{item._expiryDate}}</td>
                <td>
                    <a [routerLink]="['/medicine','details',item._id]" class="btn btn-info">Details</a>
                </td>
                <td>
                    <button (click)="delete(item._id)" class="btn btn-danger">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div> -->
<!--  -->
<!--  -->
<div class="container">
    <div class="row mt-5">
        <div class="text-end">
            <a [routerLink]="['/medicine/add']">
                <button type="button" class="btn btn-sm btn-primaryClr me-2 col-2" id="addButton">
                    <i class="fa fa-plus"></i>
                </button>
            </a>
        </div>
    </div>
    <br>
    <table class="table table-striped table-bordered styled-table">
        <thead>
            <tr style="text-align: center;">
                <th>Medicine ID</th>
                <th>Name</th>
                <th>Production Date</th>
                <th>Expiry Date</th>
                <th>Operations</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of medicine" style="text-align: center;">
                <td>{{item._id}}</td>
                <td>{{item._name}}</td>
                <td>{{item._productionDate}}</td>
                <td>{{item._expiryDate}}</td>
                <td style="display: flex;justify-content: space-around;">
                    <div class="buttons d-flex flex-column d-md-flex flex-md-row gap-2">
                        <a [routerLink]="['/medicine/edit/', item._id]">
                            <button type="button" class="btn btn-sm btn-primary me-2">
                                <i class="fa fa-edit"></i>
                            </button>
                        </a>
                        <a [routerLink]="['/medicine/details/', item._id]">
                            <button class="btn btn-sm btn-dark me-2">
                                <i class="fa fa-eye"></i>
                            </button>
                        </a>
                        <a>
                            <button class="btn btn-sm btn-danger" (click)="delete(item._id)">
                                <i class="fa fa-trash"></i>
                            </button>
                        </a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <router-outlet></router-outlet>
    <!--  -->
    <!--  -->