.navbar{
  padding: 12px 16px;
}

a {
  font-weight: bold;
  text-decoration: none;
  font-size: medium;
}

.logo {
  color: #0c4095;
}

.navbar-collapse {
  flex-grow: 0 !important;
}

.profilePicture{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.navbar-nav{
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-item{
  cursor: pointer;
}
