<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="ms-2" routerLink="/">
      <img src="../../../assets/heart-beat.png" alt="logo" width="50rem" />
      <span class="ms-2 fw-bold fs-6 logo d-none d-md-inline-block">MedService</span>
    </a>
    <button class="navbar-toggler shadow-none" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-center" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" *ngIf="!isLoggedIn || (isLoggedIn && role != 'admin')"
          routerLink="/departments">Departments</a>
        <a class="nav-link" *ngIf="!isLoggedIn || (isLoggedIn && role != 'admin')" routerLink="/contact">Contact Us</a>
        <a class="nav-link" *ngIf="isLoggedIn && role == 'admin'" routerLink="/clinic">Clinics</a>
        <a class="nav-link" *ngIf="isLoggedIn && role == 'admin'" routerLink="/doctor">Doctor</a>
        <a class="nav-link" *ngIf="isLoggedIn && role == 'admin'" routerLink="/employee">Employee</a>
        <a class="nav-link" *ngIf="isLoggedIn && role == 'admin'" routerLink="/patient">Patient</a>
        <a class="nav-link" *ngIf="isLoggedIn && role == 'admin'" routerLink="/pay">Add-Payment</a>
        <a class="nav-link" *ngIf="isLoggedIn && role == 'admin'" routerLink="/prescription">Prescriptions</a>
        <a *ngIf="!isLoggedIn" routerLink="/login" class="btn btn-primary mx-0 mx-lg-2 d-lg-block d-none">Log In</a>
        <a *ngIf="!isLoggedIn" routerLink="/register" class="btn btn-secondary my-2 my-lg-0 d-lg-block d-none">Sign
          Up</a>
        <a class="nav-link d-lg-none d-block" *ngIf="!isLoggedIn" routerLink="/login">Log In</a>
        <a class="nav-link d-lg-none d-block" *ngIf="!isLoggedIn" routerLink="/register">Sign Up</a>
        <a class="nav-link d-lg-none d-block" *ngIf="isLoggedIn" routerLink="/profile">Profile</a>
        <a class="nav-link d-lg-none d-block" *ngIf="isLoggedIn" (click)="openDialog('0ms', '0ms')">Logout</a>

        <li class="nav-item dropdown d-lg-block d-none" *ngIf="isLoggedIn">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="http://localhost:8080/{{userProfileImage}}" alt="profile picture" class="me-2 profilePicture">
            {{userName}}
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/profile">Profile</a></li>
            <li><a class="dropdown-item" (click)="openDialog('0ms', '0ms')">Logout</a></li>
          </ul>
        </li>
      </div>
    </div>
  </div>
</nav>