<header class="sticky-top">
  <a routerLink="/">
    <img src="../../../assets/heart-beat.png" alt="logo" width="50rem">
    <span class="ms-2 fw-bold fs-6 logoText">MedService</span>
  </a>
  <nav>
    <ul>
      <li><a routerLink="/clinic">Clinics</a></li>
      <li><a routerLink="/contact">Contact Us</a></li>
      <li *ngIf="!isLoggedIn"><a routerLink="/login" class="btn btn-primary">Log In</a></li>
      <li *ngIf="!isLoggedIn" ><a routerLink="/register" class="btn btn-secondary">Sign Up</a></li>
      <li *ngIf="isLoggedIn"><a (click)="logOut()" class="btn btn-primary">Log Out</a></li>
    </ul>
  </nav>
</header>