  .butn{
    display: none;
  }
  .cas:hover .butn{
    display: inline-block;
  }
.parent{
  margin: 3rem auto;
  width: 80vw;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 1rem;
}
