.table-pagination-sec{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
mat-table{
  overflow: auto;
  min-width:fit-content;
}

.mat-form-field,mat-header-row,mat-header-cell,mat-cell {
  font-size: 14px;
  width: 100%;
}

.mat-table-style {
  border-collapse: collapse;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  overflow: auto;
}

.mat-table-style mat-header-row{
  background-color: #0c4095;
}
mat-header-cell {
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
}

mat-header-cell,
mat-cell {
  padding: 12px 20px;
  vertical-align: middle;
  text-align: left;
  white-space: nowrap;
}

mat-cell{
  white-space: pre-wrap;

}

.mat-table-style mat-cell:last-child, .mat-table-style mat-header-cell:last-child {
  padding: 12px 0px 12px 20px;
}


mat-row {
  border-bottom: 1px solid #dddddd;
}

.clinic-row:hover{
  background-color: #f3f3f3 !important;
}
.clinic-row:last-of-type {
  border-bottom: 2px solid #0c4095;
}


