<br><br>
<label class="fw-bolder text-warning ms-2 ps-4">Medicine Name</label><br>
<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Medicine Name" aria-label="Medicine Name"
        aria-describedby="basic-addon2">
</div>
<label class="fw-bolder text-warning ms-2 ps-4">Production Date</label><br>
<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Production Date" aria-label="Production Date"
        aria-describedby="basic-addon2">
</div>
<label class="fw-bolder text-warning ms-2 ps-5">Expiry Date</label><br>
<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Expiry Date" aria-label="Expiry Date"
        aria-describedby="basic-addon2">
</div>
<label class="fw-bolder text-warning ms-2 ps-5">Leaflet</label><br>
<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Medicine Leaflet" aria-label="Medicine Leaflet"
        aria-describedby="basic-addon2">
</div>
<label class="fw-bolder text-warning ms-2 ps-4">Medicine Price</label><br>
<div class="input-group mb-3">
    <input type="number" class="form-control" placeholder="Medicine Price" aria-label="Medicine Price"
        aria-describedby="basic-addon2">
</div>
<label class="fw-bolder text-warning ms-2 ps-4">Medicine Quantity</label><br>
<div class="input-group mb-3">
    <input type="number" class="form-control" placeholder="Medicine Quantity" aria-label="Medicine Quantity"
        aria-describedby="basic-addon2">
</div>
<a routerLink="/medicine" class="btn btn-danger">Back</a>

<button (click)="addMedicine()" class="btn btn-success ms-1">Add New Medicine</button>