<!-- <div class="blog-section-wrapper">
  <div class="blog-section">
    <div class="blog-image">
      <img src="../../../assets/images/Womens-Wellness.jpg" alt="blog image" />
    </div>
    <div class="blog-content">
      <div class="blog-title">Latest News</div>
      <div class="blog-description">
        Modern drug discovery involves the identification of screening hits,
        medicinal chemistry and optimization of those hits to increase the
        affinity, selectivity (to reduce the potential of side effects),
        efficacy/potency, metabolic stability (to increase the half-life), and
        oral bioavailability. Once a compound that fulfills all of these
        requirements.
      </div>
      <div class="blog-button">
        <button class="button">Read More</button>
      </div>
    </div>
  </div>
</div> -->
<div class="container blog-container">
  <section id="info-4" class="wide-60 info-section division">
    <div class="container">
      <div class="row d-flex align-items-center justify-content-center">
        <!-- INFO IMAGE -->
        <div class="col-lg-6">
          <div
            class="info-4-img mb-40 text-center wow fadeInUp"
            data-wow-delay="0.6s"
            style="
              visibility: visible;
              animation-delay: 0.6s;
              animation-name: fadeInUp;
            "
          >
            <img
              class="img-fluid"
              src="../../../assets/images/pediatrics_700x800.jpg"
              alt="info-image"
            />
          </div>
        </div>

        <!-- INFO TEXT -->
        <div class="col-lg-6 blog-text p-4">
          <div
            class="txt-block mb-40 pc-30 wow fadeInUp"
            data-wow-delay="0.4s"
            style="
              visibility: visible;
              animation-delay: 0.4s;
              animation-name: fadeInUp;
            "
          >
            <!-- Section ID -->
            <span class="section-id">Welcome to MedService</span>

            <!-- Title -->
            <h3 class="h3-md">Complete Medical Solutions in One Place</h3>

            <!-- Text -->
            <p>
              An enim nullam tempor sapien gravida donec pretium ipsum porta
              justo integer at odio velna vitae auctor integer congue magna
              purus pretium ligula rutrum luctus ultrice aliquam a augue
              suscipit
            </p>

            <!-- Text -->
            <p>
              Porta semper lacus cursus, feugiat primis ultrice in ligula risus
              auctor tempus feugiat dolor lacinia cubilia curae integer congue
              leo metus, eu mollislorem primis in orci integer metus mollis
              faucibus. An enim nullam tempor sapien gravida donec pretium and
              ipsum porta justo integer at velna vitae auctor integer congue
            </p>

            <!-- Singnature -->
            <div class="singnature mt-35">
              <!-- Text -->
              <p class="p-small mb-15">Randon Pexon, Head of Clinic</p>
              <img
                class="img-fluid"
                src="../../../assets/images/signature.png"
                width="200"
                height="34"
                alt="signature-image"
                style=""
              />
            </div>
          </div>
        </div>
        <!-- END TEXT BLOCK -->
      </div>
      <!-- End row -->
    </div>
    <!-- End container -->
  </section>
</div>
