<div id="gallery-1" class="gallery-section division mb-5">
  <!-- SECTION TITLE -->
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1 section-title">
        <!-- Title 	-->
        <h3 class="h3-md steelblue-color">Total Health Care Solutions</h3>

        <!-- Text -->
        <p>
          We are a full-service medical practice that provides a wide range of
          services to meet the needs of our patients. We are committed to
          providing the highest quality of care to our patients. We are
          dedicated to providing the best possible care to our patients.
        </p>
      </div>
    </div>
  </div>

  <!-- GALLERY IMAGES -->
  <div class="row gallery-items-list">
    <!-- IMAGE #1 -->
    <div class="col-md-6 col-lg-3 gallery-item">
      <div class="hover-overlay">
        <!-- Gallery Image -->
        <img class="img-fluid" src="../../../assets/images/image-1.jpg" alt="gallery-image" />
        <div class="item-overlay"></div>

        <!-- Image Zoom -->
        <div class="image-zoom">
          <a class="image-link" href="../../../assets/images/image-1.jpg" title=""><i
              class="fas fa-search-plus"></i></a>
        </div>
      </div>
    </div>

    <!-- IMAGE #2 -->
    <div class="col-md-6 col-lg-3 gallery-item">
      <div class="hover-overlay">
        <!-- Gallery Image -->
        <img class="img-fluid" src="../../../assets/images/image-2.jpg" alt="gallery-image" />
        <div class="item-overlay"></div>

        <!-- Image Zoom -->
        <div class="image-zoom">
          <a class="image-link" href="../../../assets/images/image-2.jpg" title=""><i
              class="fas fa-search-plus"></i></a>
        </div>
      </div>
    </div>

    <!-- IMAGE #3 -->
    <div class="col-md-6 col-lg-3 gallery-item">
      <div class="hover-overlay">
        <!-- Gallery Image -->
        <img class="img-fluid" src="../../../assets/images/image-3.jpg" alt="gallery-image" />
        <div class="item-overlay"></div>

        <!-- Image Zoom -->
        <div class="image-zoom">
          <a class="image-link" href="../../../assets/images/image-3.jpg" title=""><i
              class="fas fa-search-plus"></i></a>
        </div>
      </div>
    </div>

    <!-- IMAGE #4 -->
    <div class="col-md-6 col-lg-3 gallery-item">
      <div class="hover-overlay">
        <!-- Gallery Image -->
        <img class="img-fluid" src="../../../assets/images/image-4.jpg" alt="gallery-image" />
        <div class="item-overlay"></div>

        <!-- Image Zoom -->
        <div class="image-zoom">
          <a class="image-link" href="../../../assets/images/image-4.jpg" title=""><i
              class="fas fa-search-plus"></i></a>
        </div>
      </div>
    </div>

    <!-- IMAGE #5 -->
    <div class="col-md-6 col-lg-3 gallery-item">
      <div class="hover-overlay">
        <!-- Gallery Image -->
        <img class="img-fluid" src="../../../assets/images/image-5.jpg" alt="gallery-image" />
        <div class="item-overlay"></div>

        <!-- Image Zoom -->
        <div class="image-zoom">
          <a class="image-link" href="../../../assets/images/image-5.jpg" title=""><i
              class="fas fa-search-plus"></i></a>
        </div>
      </div>
    </div>

    <!-- IMAGE #6 -->
    <div class="col-md-6 col-lg-3 gallery-item">
      <div class="hover-overlay">
        <!-- Gallery Image -->
        <img class="img-fluid" src="../../../assets/images/image-6.jpg" alt="gallery-image" />
        <div class="item-overlay"></div>

        <!-- Image Zoom -->
        <div class="image-zoom">
          <a class="image-link" href="../../../assets/images/image-6.jpg" title=""><i
              class="fas fa-search-plus"></i></a>
        </div>
      </div>
    </div>

    <!-- IMAGE #7 -->
    <div class="col-md-6 col-lg-3 gallery-item">
      <div class="hover-overlay">
        <!-- Gallery Image -->
        <img class="img-fluid" src="../../../assets/images/image-7.jpg" alt="gallery-image" />
        <div class="item-overlay"></div>

        <!-- Image Zoom -->
        <div class="image-zoom">
          <a class="image-link" href="../../../assets/images/image-7.jpg" title=""><i
              class="fas fa-search-plus"></i></a>
        </div>
      </div>
    </div>

    <!-- IMAGE #8 -->
    <div class="col-md-6 col-lg-3 gallery-item">
      <div class="hover-overlay">
        <!-- Gallery Image -->
        <img class="img-fluid" src="../../../assets/images/image-8.jpg" alt="gallery-image" />
        <div class="item-overlay"></div>

        <!-- Image Zoom -->
        <div class="image-zoom">
          <a class="image-link" href="../../../assets/images/image-8.jpg" title=""><i
              class="fas fa-search-plus"></i></a>
        </div>
      </div>
    </div>
  </div>
  <!-- END GALLERY IMAGES -->
</div>