.steelblue-color, .steelblue-color h2, .steelblue-color h3, .steelblue-color h4, .steelblue-color h5, .steelblue-color h6, .steelblue-color p, .steelblue-color a, .steelblue-color li, .steelblue-color i, .white-color .steelblue-color, .steelblue-color span {
  color: #004861;
}

 h1, h2, h3, h4, h5, h6 {
  color: #222;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  letter-spacing: -0.25px;
}
h3{
  text-align: center;
}
a{
  text-decoration: none !important;
}

.container{
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-top: 80px;
}

h5.h5-sm {
  font-size: 1.35rem;
  margin-bottom: 10px !important;
}

p{
  font-family: 'roboto';
  font-weight: 300;
  margin: 0 0 5px 0 !important;
}

h3.h3-md {
  font-size: 2.8rem;
}

.section-title {
  text-align: center;
  margin-bottom: 20px;
}

.section-title p {
  font-size: 1.075rem;
  color: #888;
  padding: 0 10%;
  line-height: 24px;
  margin-bottom: 0;
}

.contact-form .form-control, .contact-form .custom-select {
  background-color: #fff;
  border: 1px solid #bbb;
  color: #333;
  height: 52px;
  font-size: 15px;
  line-height: 1;
  font-weight: 300;
  padding: 4px 15px;
  margin-bottom: 15px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  box-shadow: none;
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  -ms-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.message{
  height: 200px !important;
}
