.profile-card-wrapper {
  background-color: #FBFBFB;;
  border: 1px solid #E9E9E9;
  border-radius: 15px;
  padding: 2rem;
}

.profile-card-header {
  margin-bottom: 1rem;
}

.profile-content{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (min-width: 1400px) {

  .profile-content{
    flex-direction: row;
  }


}

.header-title{
  font-size: 32px;
  font-weight: 600;
  line-height: 39px;
  font-style: normal;
  text-transform: capitalize;
  color: #000000;
}

.profile-card{
  background: #0C4094;
  border-radius: 8px;
  padding: 16px;
  min-width: 200px;
}

.profile-pic-name{
  gap: 12px;
}
.profile-pic{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: block;
  margin-top: 16px;
  overflow: hidden;
}
.profile-pic img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.profile-name{
  text-align: center;
}
.profile-name h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}

.profile-important-data-sec{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px;
  gap: 16px;
}

.profile-important-data{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;
}

.profile-important-data h6{
  all: unset;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;

  color: #FFFFFF;
}
.profile-important-data span{
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  color: #FFFFFF;
}

.profile-content-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}


@media (max-width: 1400px) {
  .profile-content-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media (max-width: 992px) {
  .profile-content-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

.profile-data-box {
  display: flex;
  flex-direction: column;
  gap: 20px;

  justify-content: center;

  min-width: 300px;
  min-height: 160px;
  padding: 30px 16px;

  background: #FFFFFF;
  border: 1px solid #E3E3E3;
  border-radius: 10px;
}

.profile-data-box .data {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.profile-data-box .data h6{
  all: unset;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;

  color: #000000;
}
.profile-data-box .data span{
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;

  color: #000000;
}


@media (max-width: 450px){
  .profile-data-box {
    min-width: 100%;
    overflow: hidden;
  }

  .profile-data-box .data h6{
    font-size: 12px;
  }

  .profile-data-box .data span{
    font-size: 14px;
    overflow-x: scroll;
  }

}

.schedule-sec, .medical-history-sec{
  display: flex;
  flex-direction: column;
  margin-top: 32px;
}

.schedule-sec h2, .medical-history-sec h2{
  all: unset;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  text-transform: capitalize;
  color: #000000;
}

.schedule-card-container {
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.schedule-card-container .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px 10px;
  max-width: 120px;
  height: 100%;
  transition: all 0.2s ease-in-out;
  background: #F2F7FF;
  border-radius: 10px;
  border: none;
}

.schedule-card-container .card:hover {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

.schedule-card-container .card .day {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;

  color: #0C4094;
}

.schedule-card-container .card .time {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;

  color: #0C4094;
  text-align: center;
}

.medical-history-sec p {
  margin: 20px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 17px;
  text-transform: capitalize;

  color: #000000;
}
