.trusted-by-wrapper{
  background-color: #ffffff;
  padding: 70px 30px;
  display: grid;
  place-content: center;
}
.trusted-by-section{
  display: grid;
  place-content: center;
  text-align: center;
}
.trusted-title{
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 14px;
  color: #1c4ca5;
}
.trusted-title::after{
  content: '';
  display: block;
  width: 50px;
  height: 5px;
  background-color: #d8d8d8;
  border-radius: 5px;
  margin: 10px auto;
}

.trusted-by-logos{
overflow-y: auto;

}
::-webkit-scrollbar {
display: none;}
